Repository Thream/socketio-jwt: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

Notes added by 'git notes add'
  098475d64c5fe3d4ded1b1ea6cb1296f77011a7f
Due: editorconfig-checker

fix: emit types declaration
  tsconfig.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  e68ed3c43293aab34b66cc5b83745e92f882f195
Due: editorconfig-checker

ci: avoid duplicate runs
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: editorconfig-checker, prettier --write

feat: usage of ESM modules imports (instead of CommonJS)
  .eslintrc.json
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  .lintstagedrc.json
  .nycrc.json
  .swcrc
  .taprc
  CONTRIBUTING.md
  README.md
  jest.config.json
  package-lock.json
  package.json
  src/__test__/authorize.test.ts
  src/__test__/fixture/index.ts
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

style: fix linting issue
  src/UnauthorizedError.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

Notes added by 'git notes add'
  9a942c52c567822d7dccc81c71c694e18d210b2a
Due: editorconfig-checker

chore: remove codecov
  .github/workflows/test.yml
  README.md
Due: editorconfig-checker, prettier --write

build(deps): update latest
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

build(deps): update latest
  .lintstagedrc.json
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .swcrc
  .vscode/settings.json
  package-lock.json
  package.json
  src/__test__/authorize.test.ts
  src/__test__/fixture/index.ts
  src/authorize.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: publish updated README
  README.md
Due: editorconfig-checker

Notes added by 'git notes add'
  ff6a84a8e1e4361a7f484581cf041596d415add4
Due: editorconfig-checker

docs: client side usage, specify `build` in import
  README.md
Due: editorconfig-checker

fix: bump jsonwebtoken to v9.0.0
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .husky/pre-commit
  .markdownlint-cli2.jsonc
  .markdownlint.json
  package-lock.json
  package.json
  tsconfig.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  03e8d51f9ab9fa0f6882143d59cf3da3bcf066ce
Due: editorconfig-checker

feat: lookup auth header if token is not present in handshake
  src/authorize.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: safer `isUnauthorizedError` type guard
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/UnauthorizedError.ts
  src/authorize.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

Notes added by 'git notes add'
  71e0d82655bef5b99c677c9bf53d50de4eb5b606
Due: editorconfig-checker

fix: safer (and correct) isUnauthorizedError
  src/UnauthorizedError.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

Notes added by 'git notes add'
  41a0f1839f3f1facc24dc4047731cee258065f02
Due: editorconfig-checker

build(deps): update latest
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .markdownlint-cli2.jsonc
  .markdownlint.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

feat: add npm package provenance
  .github/workflows/release.yml
  .npmrc
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  26bbc075cf20af78aec03b36da54c2fe565bbc42
Due: editorconfig-checker

fix: update author - Théo LUDWIG
  CODE_OF_CONDUCT.md
  LICENSE
  package.json
Due: editorconfig-checker, prettier --write

chore: clean up
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
Due: editorconfig-checker, prettier --write

perf: ignore test files in published package (reduce package size)
  package.json
Due: editorconfig-checker, prettier --write

chore: sync package-lock.json
  package-lock.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  b708d66586397aa083d29c33c0f1289a61c662e2
Due: editorconfig-checker

refactor: usage of node:test instead of tap
  .eslintrc.json
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .nycrc.json
  .swcrc
  .taprc
  package-lock.json
  package.json
  src/__test__/authorize.test.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: update jsonwebtoken from v9.0.0 to v9.0.1
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  6a28554b0062e753178f460008790cdc7fdf6cc1
Due: editorconfig-checker

docs: improve Prerequisites section
  README.md
Due: editorconfig-checker

fix: update jsonwebtoken from v9.0.1 to v9.0.2
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .swcrc
  package-lock.json
  package.json
  tsconfig.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  2d84d11034a46f7fc25089e64def05819fbf24c1
Due: editorconfig-checker

chore: better Prettier config for easier reviews
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/DOCUMENTATION.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/IMPROVEMENT.md
  .github/ISSUE_TEMPLATE/QUESTION.md
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .prettierrc.json
  README.md
  package-lock.json
  package.json
  src/UnauthorizedError.ts
  src/__test__/authorize.test.ts
  src/__test__/fixture/index.ts
  src/authorize.ts
  src/index.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: archive repository
  README.md
Due: editorconfig-checker

Notes added by 'git notes add'
  cfcb8a4be23db0f8dc31fa80cdc16bf3ae250339
Due: editorconfig-checker

Path conditions:
  editorconfig-checker: any of: *
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,jsonc,yml,yaml})) or (any of: *.{md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx}
  markdownlint --dot --fix: any of: *.{md}
